@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header,
footer {
  height: 8vh;
  background-color: #7769d8;
  color: #fff;
}

.main-container {
  display: flex;
  width: 100vw;
}

main {
  height: 84vh;
}

.logo {
  text-align: center;
  padding: 15px;
  font-size: 1.52rem;
  font-family: 'Poetsen One', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.side-bar {
  width: 13%;
  background-color: #2a3467;
  color: #fff;
}

.menu-section {
  text-align: center;
  padding-top: 35px;
}

.menu-section ul li {
  font-size: 1.2rem;
  padding: 12px;
  cursor: pointer;
  list-style: none;
}

.menu-section ul li:hover {
  font-size: 1.2rem;
  padding: 12px;
  background-color: #7769d8;
}

.menu-section ul li i {
  padding-right: 15px;
}

.content-container {
  width: 87%;
}

.user-box {
  display: flex;
  justify-content: end;
  align-items: center;
}

.user-box i {
  display: block;
  font-size: 1.7rem;
  padding: 10px 15px;
  color: #fff;
}

.card-container {
  display: grid;
  grid-template-columns: 611px auto;
  gap: 15px;
  padding: 15px;
}

.card {
  color: #000;
  min-height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
