@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

* {
  margin: 0;
  padding: 0;
}

header,
footer {
  height: 8vh;
  background-color: #53989a;
}

.main-container {
  display: flex;
  width: 100vw;
}

main {
  height: 84vh;
}

.logo {
  text-align: center;
  padding: 15px;
  font-size: 1.97rem;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.side-bar {
  width: 12vw;
  background-color: #81a6a7;
}

.content-container {
  width: 88vw;
}
