@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #fff;
}

a {
  text-decoration: none;
}

header,
footer {
  height: 8vh;
  background-color: #7769d8;
}

.main-container {
  display: flex;
  width: 100vw;
}

main {
  height: 84vh;
}

.logo {
  text-align: center;
  padding: 15px;
  font-size: 1.97rem;
  font-family: 'Poetsen One', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.side-bar {
  width: 12vw;
  background-color: #2a3467;
}

.menu-section {
  text-align: center;
  padding-top: 35px;
}

.menu-section ul li {
  font-size: 1.5rem;
  padding: 12px;
}

.menu-section ul li i {
  padding-right: 9px;
}

.content-container {
  width: 88vw;
}
